<form action="/browse" method="get">

<fieldset>
<legend>For...</legend>
<ul>
{% for r in list(filters.date)[:-1] %}
<li>{% raw r %}{% raw r.label %}</li>
{% end %}
{% for r in list(filters.date)[-1:] %}
<li>{% raw r %}{% raw r.label %}
<div class="daterange">
{% module formfield(filters.dayfrom) %}
{% module formfield(filters.dayto) %}
</div>
</li>
{% end %}
</ul>
</fieldset>

<fieldset>
<legend>Show...</legend>
<div>
{% raw filters.sourced %}
</div>
</fieldset>

<fieldset>
<legend>Narrow by...</legend>
<div>
{% raw filters.help %}{% raw filters.help.label%}
</div>
<div>
{% raw filters.discussed %}{% raw filters.discussed.label%}
</div>
</fieldset>


<input type="submit" value="Filter"/>
</form>

