{% comment output a source link %}

<div>
{% if src.title %}
<a href="{{src.url}}">{{src.title}}</a>
{% else %}
<a href="{{src.url}}">{{src.url}}</a>
{% end %}
</div>


{% if src.publication %}
{% if src.pubdate %}
<span class="publication">{{src.publication}}</span>, {%module fmt_date(src.pubdate,'pubdate')%}
{% else %}
<span class="publication">{{src.publication}}</span>
{% end %}
{% end %}


<div class="moderation">
<!--
{{src.score}} points
{% if current_user %}
  <span class="vote">
    <form action="/source/{{src.id}}/upvote" method="POST"><input class="upvote btn" type="submit" value="&#9650;" {% if not can_upvote %}disabled{% end %}/></form>
    <form action="/source/{{src.id}}/downvote" method="POST"><input class="downvote btn" type="submit" value="&#9660;" {% if not can_downvote %}disabled{% end %}/></form>
  </span>
-->

{% if src.creator %}
  <span class="creator"><a href="/user/{{src.creator.id}}">{% raw src.creator.photo_img('m') %}</a> added by <a href="/user/{{src.creator.id}}">{{src.creator.username}}</a></span>
{% if src.creator==current_user %}
    <form action="/source/{{src.id}}/delete" method="POST"><input class="btn"  type="submit" name="submit" value="delete"/></form>
{% end %}
{% end %}

{% end %}
</div>

