{% comment output a source link and voting widget %}
<{{element_type}} class="source {{src.kind}}{{' downvoted' if src.score<0 else ''}}">
<img src="/static/{{kind_info['icon']}}" title="{{kind_info['desc']}}" />
{% if src.title %}
<a href="{{src.url}}">{{src.title}}</a>
{% else %}
<a href="{{src.url}}">{{src.url}}</a>
{% end %}

{% if src.publication %}
{% if src.pubdate %}
<span class="publication">{{src.publication}}, {{src.pubdate.strftime('%d %b, %Y')}}</span>
{% else %}
<span class="publication">{{src.publication}}</span>
{% end %}
{% end %}

<div class="moderation">{{src.score}} points
{% if src.creator %}
added by <a href="/user/{{src.creator.id}}">{{src.creator.username}}</a>
{% end %}
{% if current_user %}
<span class="vote">
    {% if can_upvote %}
    <a class="up" href="/source/{{src.id}}/upvote" title="vote up">&#9650;</a>
    {% end %}
    {% if can_downvote %}
    <a class="down" href="/source/{{src.id}}/downvote" title="vote down">&#9660;</a>
    {% end %}
</span>
{% if src.creator==current_user %}
<form action="/source/{{src.id}}/delete" method="POST"><input type="submit" name="submit" value="delete"/></form>
{% end %}
{% end %}
</div>
</{{element_type}}>

