{% comment output a tag with voting widget %}
<{{element_type}} class="tag{{' downvoted' if tag.score<0 else ''}}">
    {{tag.name}}
    {% if tag.score != 0 %}
    <span class="score">{{tag.score}}</span>
    {% end %}
    {% if current_user %}
    <span class="vote">
        {% if can_upvote %}
        <a class="up" href="/tag/{{tag.id}}/upvote" title="vote up">&#9650;</a>
        {% end %}
        {% if can_downvote %}
        <a class="down" href="/tag/{{tag.id}}/downvote" title="vote down">&#9660;</a>
        {% end %}
    </span>
    {% end %}
</{{element_type}}>


