{% if current_user %}
    <h2>Add a source</h2>
    <div>
      <form action="/art/{{art.id}}/addsource" method="post">
      {% raw xsrf_form_html() %}

      <div>
        <label for="kind">Kind</label>: <select id="kind" name="kind">
        <option value="pr" selected>Press release</option>
        <option value="paper">Academic paper</option>
        <option value="other">Other</option>
        </select>
      </div>

      <div>
        <label for="url">Url</label>: <input id="url" name="url" type="text" value="" />
      </div>
      <input type="submit" name="submit" value="add" />
      </form>

{% module help_paper(art,journals,institutions,researchers) %}



  </div>

{% else %}
   <a href="/login?next=/art/{{art.id}}">log in</a> to add a source
{% end %}



