{% extends "base.html" %}
{% block title %}About{% end %}
{% block main %}
<div class="page-of-text">
<h2>About</h2>

<h3>What is all this?</h3>

<p>So many newspaper articles are published with missing or vague references
to their original sources. This makes it very hard for interested parties to
find out more, or to verify that the article is accurate.
</p>
<p>
Sourcy is a tool to help us all augment news articles with the stuff that
they <em>should</em> be including but don't.
</p>

<h3>Status</h3>

<p>
We decided to focus on science articles to begin with. There are lots of
examples of sloppy - or just plain wrong - science reporting, so it's an
area that needs scrutiny.
</p>
<p>
It's also a nicely formal area, in that most science stories relate to the
publication of peer-reviewed paper in a Journal, which can be tracked down.
</p>
<p>
The plan is to expand the set of tools to cover all sorts of things that
might be sources for news stories - government reports, raw data, press
releases, etc etc...
</p>

<h3>Why are there so many articles from the UK?</h3>

<p>We use the article search at
<a href="http://journalisted.com">journalisted.com</a> to find articles
which look like they might need sourcing. Since journalisted has a
particular focus on the UK media, so does this site.
</p>
<p>
However, you can manually enter any article you'd like, using the form on
the <a href="/">front page</a>.
</p>

<h3>Want to give us some help or feedback?</h3>
<p>
Great! The best starting point is the Media Standards Trust
public development mailing list at <a href="http://groups.google.com/group/mst-dev">http://groups.google.com/group/mst-dev</a>
</p>
<p>
You can subscribe via email by sending a message to: <a href="mailto:mst-dev+subscribe@googlegroups.com">mst-dev+subscribe@googlegroups.com</a>
</p>

<h3>Who's responsible?</h3>

<p>It's a <a href="http://mediastandardstrust.org">Media Standards Trust</a> project.</p>

<dl>    
    <dt>Coding, design:</dt>
    <dd><a href="http://scumways.com">Ben Campbell</a></dd>
    <dt>Original concept, design:</dt>
    <dd>Martin Moore</dd>
    <dt>Thanks muchly to:</dt>
    <dd>Francis Irving</dd>
    <dd>Michael Curran</dd>
</dl>

</div>
{% end %}

