{% extends "base.html" %}
{% block title %}About{% end %}
{% block main %}
<h2>What is all this?</h2>

<p>Sourcy is a tool to help you track down missing sources for news articles. So many news articles are published without properly referencing the orginal
sources 
</p>

<h3>Status</h3>

<p>
We're currently focusing on articles based around academic research, where
you can track down the published paper or (more likely) press release.
The plan is to expand the set of tools to cover all sorts of things that
might be sources for news stories.
</p>



{% end %}

