{% extends "base.html" %}
{% block title %}Linking to academic papers{% end %}
{% block main %}
<div class="page-of-text">
<h2 id="linking">Linking to academic papers</h2>
<p>rough notes to be bashed into proper form...</p>
<ul>
    <li>link to summary (abstract) page</li>
    <li>make sure there's a DOI on that page</li>
    <li>Most science stories are written from the press release rather
    than the paper... Usually the press release will be on the news page
    of the instituiton that did the research.
    (<a href="http://www.eurekalert.org">EurekaAlert</a> is probably also a
    good place to check, and we plan to automate that using upcoming
    churnalism.com work...)</li>
</ul>


<h3 id="doi">What's a DOI?</h3>
<p>Almost all academic journals assign papers a unique identifier called a
DOI (<a href="http://en.wikipedia.org/wiki/Digital_object_identifier">Digital Object Identifier</a>).
Given a DOI, we can automatically look up all sorts of meta data about the
paper - the authors, the journal it appeared in, the date of publication...
</p>
</div>
{% end %}

