{% extends "base.html" %}
{% block title %}About{% end %}
{% block main %}
<h2 id="linking">Linking to academic papers</h2>
<p>todo.</p>
<ul>
    <li>link to summary page</li>
    <li>make sure there's a DOI on that page</li>
    <li></li>
</ul>
<h3 id="doi">What's a DOI?</h3>
<p>Almost all academic journals assign papers a unique identifier called a
DOI (<a href="http://en.wikipedia.org/wiki/Digital_object_identifier">Digital Object Identifier</a>). From our point of view, the benefit of using a DOI is
that we can look it up at 



{% end %}

