{% extends "base.html" %}
{% block title %}Article {{art.id}}{% end %}

{% block extra_js %}
{% end %}

{% block main %}
<div id="view">
<header>
<h2><a href="{{art.permalink}}">{{art.headline}}</a></h2>
<span class="pubdate">{{art.pubdate}}</span> - <span class="publication">{% module domain(art.permalink) %}</span>

</header>
<div class="body">
    {% raw article_content %}
</div>
</div>

<div id="tools">

  <div class="sources">
  <h2>Sources</h2>
  {% if sources %}
  <ul>
  {% for s in sources %}
  <li><a href="{{s.url}}">{{s.url}}</a></li>
  {% end %}
  </ul>
  {% else %}
  <p>None<p>
  {% end %}
  </div>

  <div class="helper addsource">
    <p>Add a source:</p>
    <form action="/edit" method="post">
        <label for="url">URL or DOI of paper</label><br/>
        <input type="hidden" name="art_id" value="{{art.id}}"/>
        <input type="text" name="url" id="url" columns="80"/><br/>
        <input type="submit" value="submit"/><br/>
        <span class="helptext"><a href="#">what's a DOI?</a> <a href="#">guidelines on linking to academic papers</a></span><br/>
    </form>
  </div>


  <div class="helper">
  {% if institutions %}
  <h2 class="hilite institution">Institutions:</h2>
  <ul>
  {% for r in institutions %}
  <li><a class="institution" href="{{r[1]}}">{{r[0]}}</a></li>
  {% end %}
  </ul>
  {% end %}

  {% if journals %}
  <h2 class="hilite journal">Journals:</h2>
  <ul>
  {% for r in journals %}
  <li><a class="journal" href="{{r[1]}}">{{r[0]}}</a></li>
  {% end %}
  </ul>
  {% end %}
  <p>(add a missing <a href="/addjournal">journal</a> or <a href="/addinstitution">institution</a>)</p>
  </div>

  <div class="helper">
  <h2>Search for papers...</h2>
  <form action="http://scholar.google.co.uk/scholar" method="GET" target="_blank">
      {% if researchers %}
      written by:<br/>
      {% for idx,r in enumerate(researchers) %}
      <input type="checkbox" name="as_sauthors" value="{{r['search_value']}}" id="r_{{idx}}"/><label for="r_{{idx}}">{{r['name']}}</label><br/>
      {% end %}
      {% else %}
      <label for="r">written by:</label><br/>
      <input type="text" name="as_sauthors" id="r"/><br/>
      {% end %}

      {% if journals %}
      published in:<br/>
      {% for idx,j in enumerate(journals) %}
      <input type="checkbox" name="as_publication" value="{{j[0]}}" id="j_{{idx}}"/><label for="j_{{idx}}">{{j[0]}} (<a href="{{j[1]}}">web site</a>)</label><br/>
      {% end %}
      {% else %}
      <label for="j">published in:</label>
      <input type="text" name="as_publication" id="j"/><br/>
      {% end %}

      containing keywords
      <input type="text" name="as_q" /><br/>
      <input type="submit" value="Search" name="btnG" /> (opens in a new window)
  </form>
  </div>

</div> <!-- /#tools -->
{% end %}

