{% extends "base.html" %}
{% block title %}{{art.headline}}{% end %}


{% block extra_js %}


// ugly gubbins for showing/hiding forms
$('.add-source .add').click(function() {
    /* hide all others */
    $('.add-source>form').hide();
    $('.add-source>.help').hide();
    $('.add-source>.add').show();

    /* show just one */
    $(this).nextAll('form').show();
    $(this).nextAll('.help').show();
    $(this).hide();
    return false;
});

$('.add-source>form').hide();
$('.add-source>.help').hide();

$('.add-source form .cancel').click(function() {
    $(this).closest('.add-source').find('form').hide();
    $(this).closest('.add-source').find('.help').hide();
    $(this).closest('.add-source').find('.add').show();
    return false;
});


// when a source is added, insert it into the appropriate list
pubsub.source_added.add(function(new_src) {
  var kinds = {paper: '.list-paper', pr: '.list-pr', other: '.list-other'};
  var destlist = kinds[new_src.kind];
  $(new_src.html)
    .hide()
    .css('opacity',0.0)
    .appendTo($(destlist))
    .slideDown('fast')
    .animate({opacity: 1.0});


    $('.add-source form').hide();
    $('.add-source .help').hide();
    $('.add-source .add').show();

});

{% end %}

{% block main %}
<div id="view">
<div class="fullart">

<header>
<h2><a href="{{art.permalink}}">{{art.headline}}</a></h2>
<span class="pubdate">{{art.pubdate}}</span> - <span class="publication">{% module domain(art.permalink) %}</span>
</header>

<div class="body">

{% for w in [t for t in art.tags if t.kind==TagKind.WARNING] %}
<div class="warning-label"><img src="{{w.big_icon()}}"/><b>WARNING</b><br/>{{w.description}}
      {% if current_user %}
      <form style="float:right;" action="/art/{{art.id}}/deltag" method="post">
        <input type="hidden" name="tag" value="{{w.name}}"/>
        <input class="btn" type="submit" value="Remove" />
      </form>
      {% end %}
</div>
{% end %}


{% if scrape_err %}
<p>Sorry, but there was a problem fetching the article text: {{scrape_err}}</p>
<p>if you'd like, you can paste the text in here manually:</p>
<form action="/art/{{art.id}}" method="post">
<textarea name="text">
</textarea>
<input type="submit" />
</form>
{% else %}
{% raw article_content %}
{% end %}
</div>

</div> <!-- end .fullart -->
</div> <!-- end #view -->



<div id="tools">

  <div class="tool sources">
    <h2>Sources</h2>

    <h3>Academic paper</h3>
    <ul class="list-paper">
    {% for src in art.papers() %}{% module source(src, container='li') %}{% end %}
    </ul>

    <div class="add-source">
    <a class="add" href="/art/{{art.id}}/paper/add" method="GET">Add</a>
    {% module add_paper(art, add_paper_form) %}
    {% module help_paper(art,journals,institutions,researchers) %}
    </div>

    <h3>Press release</h3>
    <ul class="list-pr">
    {% for src in art.press_releases() %}{% module source(src, container='li') %}{% end %}
    </ul>
    <div class="add-source">
    <a class="add" href="/art/{{art.id}}/pr/add" method="GET">Add</a>
    {% module add_pr(art, add_pr_form) %}
    {% module help_pr(art,journals,institutions,researchers) %}
    </div>


    <h3>Other link</h3>
    <ul class="list-other">
    {% for src in art.other_links() %}{% module source(src, container='li') %}{% end %}
    </ul>
    <div class="add-source">
    <a class="add" href="/art/{{art.id}}/other/add" method="GET">Add</a>
    {% module add_other(art, add_other_form) %}
    {% module help_other(art,journals,institutions,researchers) %}
    </div>


  </div>

    {% if donetag not in art.tags %}
 <div class="act tool">
    {% if len(art.sources)>0 %}
    Have all the sources for this article have been added?
    {% else %}
    Think this article doesn't need any sources?
    {% end %}
    <form action="/art/{{art.id}}/addtag" method="post">
    <input type="hidden" name="tag" value="done" />
    <input class="btn" type="submit" value="Mark it completed" />
    </form>
 </div>
    {% end %}


{% if donetag in art.tags %}
  <div class="act tool"><img src="/static/tag_med/tick.png" />This article has been marked complete - all sources tracked down and added.
    <form action="/art/{{art.id}}/deltag" method="post">
    <input type="hidden" name="tag" value="done" />
    <input class="btn" type="submit" value="disagree" />
    </form>
  </div>

{% end %}



{% if helptag in art.tags %}
  <div class="act tool"><img src="/static/tag_med/help.png" />Someone asked for help on this article
    <form action="/art/{{art.id}}/deltag" method="post">
    <input type="hidden" name="tag" value="help" />
    <input class="btn" type="submit" value="Close help request" />
    </form>
  </div>

{% else %}

  <div class="act tool">
    Having trouble tracking down sources for this article?
    <form action="/art/{{art.id}}/addtag" method="post">
    <input type="hidden" name="tag" value="help" />
    <input class="btn" type="submit" value="Ask for help" />
    </form>
  </div>

{% end %}





<!--
  <div id="addwarning" class="act tags tool">
    {% if current_user %}
    <h2>Add a warning</h2>
    <div>

    <form id="set-tags" action="/art/{{art.id}}/addtags" method="post">

    <ul class="tag-list">
    {% for t in [foo for foo in all_tags if foo not in art.tags and foo.kind==TagKind.WARNING] %}
      <li>
      <input type="checkbox" id="tag-{{t.name}}" name="tags" value="{{t.name}}" {% if t in art.tags %}checked{% end %}/>
      <label for="tag-{{t.name}}"><img src="{{t.med_icon()}}" title="{{t.description}}" alt="{{t.name}}"/>{{t.description}}</label>
      </li>
    {% end %}
    </ul>
    <input type="submit" value="Add warning(s)">
    </form>

    </div>

    {% else %}
     <a href="/login?next=/art/{{art.id}}">Add a warning</a>
    {% end %}
  </div>
-->

  <div class="act tool">
   <h2>Chatter</h2>
    <ul>
{% for cmt in art.comments %}
    <li>{{cmt.author.username}}, {{ locale.format_date(cmt.post_time, shorter=True) }}: {{cmt.content}}</li>
{% end %}
    </ul>
    {% if current_user %}
    <form action="/art/{{art.id}}/postcomment" method="POST">
    <input type="text" name="msg" />
    <input type="submit" value="Post comment"/>
    </form>
    {% else %}
    <a href="/login?next=/art/{{art.id}}">Log in</a> to add a comment
    {% end %}
  </div>


</div> <!-- /#tools -->
{% end %}

