{% extends "base.html" %}
{% block title %}{{art.headline}}{% end %}


{% block extra_js %}

    $('#addwarning').collapsify();

    // hide the submit button on the tags form until a change is made
    $('form#set-tags input[type="submit"]').hide();
    $('form#set-tags input[type="checkbox"]').bind('change',function() {$('form#set-tags input[type="submit"]').show();});


    // set up journal/researcher buttons for google scholar search thingy
    function reescape(str)
    {
      var specials = new RegExp("[.*+?|()\\[\\]{}\\\\]", "g"); // .*+?|()[]{}\
      return str.replace(specials, "\\$&");
    }

    $('.helper form .researcher').each(function(index) {
        var fullname = '"' + $.trim($(this).text()) + '"';

        var cb = $('<input type="checkbox" />').change(function() {
            var cur = $.trim($('#as_sauthors').val());
            var pat = new RegExp(reescape(fullname),"ig");
            if(this.checked) {
               cur = cur + " " + fullname;
            } else {
               cur = cur.replace(pat,'');
            }
            $('#as_sauthors').val(cur);
        });
        cb.prependTo(this);
        $(this).wrap("<label/>");
    });

    $('.helper form .journal').each(function(index) {
        var fullname = $.trim($(this).text()); 

        var cb = $('<input type="radio" name="j"/>').change(function() {
            var cur = $.trim($('#as_publication').val());
            var pat = new RegExp(reescape(fullname),"ig");
            if(this.checked) {
               cur = fullname;
            } else {
               cur = cur.replace(pat,'');
            }
            $('#as_publication').val(cur);
        });
        cb.prependTo(this);
        $(this).wrap("<label/>");

    });

{% end %}

{% block main %}
<div id="view">
<div class="fullart">

<header>
<h2><a href="{{art.permalink}}">{{art.headline}}</a></h2>
<span class="pubdate">{{art.pubdate}}</span> - <span class="publication">{% module domain(art.permalink) %}</span>
</header>

<div class="body">

{% for w in [t for t in art.tags if t.kind==TagKind.WARNING] %}
<div class="warning-label"><img src="{{w.big_icon()}}"/><b>WARNING</b><br/>{{w.description}}
      {% if current_user %}
      <form style="float:right;" class="btn" action="/art/{{art.id}}/deltag" method="post">
        <input type="hidden" name="tag" value="{{w.name}}"/>
        <input type="submit" value="Remove" />
      </form>
      {% end %}
</div>
{% end %}


{% if scrape_err %}
<p>Sorry, but there was a problem fetching the article text: {{scrape_err}}</p>
<p>if you'd like, you can paste the text in here manually:</p>
<form action="/art/{{art.id}}" method="post">
<textarea name="text">
</textarea>
<input type="submit" />
</form>
{% else %}
{% raw article_content %}
{% end %}
</div>

</div> <!-- end .fullart -->
</div> <!-- end #view -->



<div id="tools">

  <div class="sources tool">
    <h2>Sources</h2>
    {% if art.sources %}
    <ul>
    {% for s in art.sources %}
    {% module source(s, element_type="li") %}
    {% end %}
    </ul>
    {% else %}
    <p>None<p>
    {% end %}
  </div>

    {% if donetag not in art.tags %}
 <div class="act tool">
    {% if len(art.sources)>0 %}
    Have all the sources for this article have been added?
    {% else %}
    Think this article doesn't need any sources?
    {% end %}
    <form class="btn" action="/art/{{art.id}}/addtag" method="post">
    <input type="hidden" name="tag" value="done" />
    <input type="submit" value="Mark it completed" />
    </form>
 </div>
    {% end %}


{% if donetag not in art.tags %}
  <div id="addsource" class="act tool">
{% module tool_addsource(art, add_source_form, institutions, journals, researchers) %}
  </div>
{% else %}
  <div class="act tool"><img src="/static/tag_med/tick.png" />This article has been marked complete - all sources tracked down and added.
    <form class="btn" action="/art/{{art.id}}/deltag" method="post">
    <input type="hidden" name="tag" value="done" />
    <input type="submit" value="disagree" />
    </form>
  </div>

{% end %}



{% if helptag in art.tags %}
  <div class="act tool"><img src="/static/tag_med/help.png" />Someone asked for help on this article
    <form class="btn" action="/art/{{art.id}}/deltag" method="post">
    <input type="hidden" name="tag" value="help" />
    <input type="submit" value="Close help request" />
    </form>
  </div>

{% else %}

  <div class="act tool">
    Having trouble tracking down sources for this article?
    <form class="btn" action="/art/{{art.id}}/addtag" method="post">
    <input type="hidden" name="tag" value="help" />
    <input type="submit" value="Ask for help" />
    </form>
  </div>

{% end %}






  <div id="addwarning" class="act tags tool">
    {% if current_user %}
    <h2>Add a warning</h2>
    <div>

    <form id="set-tags" action="/art/{{art.id}}/addtags" method="post">

    <ul class="tag-list">
    {% for t in [foo for foo in all_tags if foo not in art.tags and foo.kind==TagKind.WARNING] %}
      <li>
      <input type="checkbox" id="tag-{{t.name}}" name="tags" value="{{t.name}}" {% if t in art.tags %}checked{% end %}/>
      <label for="tag-{{t.name}}"><img src="{{t.med_icon()}}" title="{{t.description}}" alt="{{t.name}}"/>{{t.description}}</label>
      </li>
    {% end %}
    </ul>
    <input type="submit" value="Add warning(s)">
    </form>

    </div>

    {% else %}
     <a href="/login?next=/art/{{art.id}}">Add a warning</a>
    {% end %}
  </div>

  <div class="act tool">
   <h2>Chatter</h2>
    <ul>
{% for cmt in art.comments %}
    <li>{{cmt.author.username}}, {{ locale.format_date(cmt.post_time, shorter=True) }}: {{cmt.content}}</li>
{% end %}
    </ul>
    {% if current_user %}
    <form action="/art/{{art.id}}/postcomment" method="POST">
    <input type="text" name="msg" />
    <input type="submit" value="Post comment"/>
    </form>
    {% else %}
    <a href="/login?next=/art/{{art.id}}">Log in</a> to add a comment
    {% end %}
  </div>


</div> <!-- /#tools -->
{% end %}

