<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}{% end %} - unsourced.org</title>
    <link rel="stylesheet" href="/static/style.css" />
<!--[if lt IE 9]>
<script src="http://ie7-js.googlecode.com/svn/version/2.1(beta4)/IE9.js"></script>
<![endif]-->

    <script src="/static/jquery-1.7.2.min.js"></script>
    <script src="/static/site.js"></script>
    <script>
        $(document).ready( function() {
{%block extra_js %}
{% end %}
});
    </script>
</head>
<body>

<div class="l-mid75 main">


<header class="site-header">
 <div class="l-row">
  <div class="l-col75">
  <div class="login-status">
{% if current_user is None %}
    <a href="/register">join</a> | <a href="{{ handler.get_login_url() }}">log in</a>
{% else %}
Hello <a href="/user/{{current_user.id}}">{{current_user.username}}</a> |
<a href="/logout">log out</a>
{% end %}
  </div>
  </div>
  <div class="l-col25">
  <div class="site-search">
  &nbsp;
  </div>
  </div>
 </div> <!-- end .l-row -->

  <div class="site-logo">
    <h1><a href="/"><img src="/static/logo.png" width="208" height="59" alt="Unsourced" /></a> </h1>
  </div>

  <a class="mst-logo" href="/"><img src="/static/mst_logo.png" width="70" height="50" alt="Media Standards Trust" /></a>

  <nav class="topnav">
    <ul>
        <li><a href="/browse">Browse</a></li>
        <li><a href="/daily">View by day</a></li>
{% if current_user is not None %}
        <li><a href="/dashboard">Dashboard</a></li>
{% end %}
    </ul>
  </nav>
</header>

<div class="site-content">
{% block main %}
{% end %}
</div>

<footer class="site-footer">
  <div class="inner">
    <a href="/about">about</a>&nbsp;&nbsp;
    <a href="https://github.com/bcampbell/sourcy/">source code</a> (on github.com)&nbsp;&nbsp;
    <span id="site-copyright">
        &copy; <a href="http://mediastandardstrust.org">Media Standards Trust</a> 2011
    </span>
  </div>
</footer>

</div> <!-- end .l-main.main -->

</body>
</html>

