<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}{% end %} - Sourcy</title>
    <link rel="stylesheet" href="/static/style.css" />
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
    <script src="/static/site.js"></script>
    <script>
        $(document).ready( function() {
{%block extra_js %}
{% end %}
});
    </script>
</head>
<body>
<header id="pageHeader">
    <h1><a href="/">Sourcy</a></h1><span>Add missing sources to news articles</span>
    <nav>
        <ul>
            <li><a href="/browse">browse articles</a></li>
            <li><a href="/daily">view by day</a></li>
            <li><a href="/about">about</a></li>
        </ul>
    </nav>
    <div id="user-stuff">
{% if current_user is None %}
        <a href="/login">log in</a>
{% else %}
{% if current_user.photo %}
<img src="{{ current_user.photo.thumb_url((16,16)) }}" width="16" height="16"/>
{% end %}
Hello, <a href="/user/{{current_user.id}}">{{current_user.username}}</a> (<a href="/logout">log out</a>)
{% end %}
    </div>
</header>
<div id="content">
{% block main %}
{% end %}
</div>
<footer>
    <a href="/about">about</a>&nbsp;&nbsp;
    <a href="https://github.com/bcampbell/sourcy/">source code</a> (on github.com)&nbsp;&nbsp;
    <span id="site-copyright">
        &copy; <a href="http://mediastandardstrust.org">Media Standards Trust</a> 2011
    </span>
</footer>
</body>
</html>

