<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}{% end %} - Sourcy</title>
    <link rel="stylesheet" href="/static/style.css" />
    <script src="/static/jquery-1.7.2.min.js"></script>
    <script src="/static/site.js"></script>
    <script>
        $(document).ready( function() {
{%block extra_js %}
{% end %}
});
    </script>
</head>
<body>

<div class="row">
<div class="column grid_12">

<header class="site-header">
  <div class="inner">


    <div class="row">
    <div class="column grid_9 login-status">

    <div class="">
{% if current_user is None %}
      <a href="/login">log in</a>
{% else %}
Hello <a href="/user/{{current_user.id}}">{{current_user.username}}</a> |
<a href="/logout">log out</a>
{% end %}
    </div>

    </div>
    <div class="column grid_3 site-search">
    <div>
        Search...
    </div>

    </div>
    </div> <!-- end .row -->

    <a class="mst-logo" href="/"><img src="/static/mst_logo.png" width="70" height="50" alt="Media Standards Trust" /></a>

    <div class="site-logo">
      <h1><a href="/"><img src="/static/unsourced.png" width="210" height="64" alt="Unsourced" /></a> </h1>
    </div>


    <nav id="topnav">
      <ul class="menu">
          <li><a href="/browse">browse</a></li>
          <li><a href="/daily">view by day</a></li>
      </ul>
    </nav>
  </div>
</header>

</div>
</div> <!-- end .row -->

<div id="main">
{% block main %}
{% end %}
</div> <!-- end #main -->


<div class="row">
<div class="column grid_12">

<footer class="site-footer">
  <div class="inner">
    <a href="/about">about</a>&nbsp;&nbsp;
    <a href="https://github.com/bcampbell/sourcy/">source code</a> (on github.com)&nbsp;&nbsp;
    <span id="site-copyright">
        &copy; <a href="http://mediastandardstrust.org">Media Standards Trust</a> 2011
    </span>
  </div>
</footer>

</div>
</div> <!-- end .row -->

</body>
</html>

