{% import util %}
{% extends "base.html" %}
{% block title %}Sourcy{% end %}


{% block main %}

<div class="row">
<div class="column grid_12">
  <div id="intro">
    <span>Add missing sources to news articles</span>
  </div>
</div>
</div> <!-- end .row -->


<div class="row">
{% for art in random_arts %}
<div class="column grid_3">
 <div id="art-{{art.id}}" class="art art-box">
  {% module art_item(art,show_pubdate=True) %}
  <a class="btn findsrc" href="/art/{{art.id}}">Find source</a>
 </div>
</div>
{% end %}
</div> <!-- end .row -->
<div class="row">
<div class="column grid_12">
  <div>(<a href="/">show me some others</a>)</div>
</div>
</div> <!-- end .row -->

<br/>

<div class="row">
<div class="column grid_8">
<div class="infobox">
<h2>Right now</h2>

<ul class="act-list">
{% for act in recent_actions %}
<li class="act act-full">{% module action(act,user_display='m') %}</li>
{% end %}
</ul>
</div>

</div>

<div class="column grid_4">

<div class="infobox">
<h2>Today's articles are X% complete</h2>
</div>
<br/>

<div class="infobox">
<h2>Top Sourcers</h2>
    <ul class="l-4col">
    {% for u in top_sourcers %}
    <li>{% raw u.photo_img('m') %}</li>
    {% end %}
    </ul>
</div>

</div>
</div> <!-- end .row -->
{% end %}

