{% import util %}
{% extends "base.html" %}
{% block title %}Sourcy{% end %}


{% block main %}

<div style="text-align:center;">
<div style="display: inline-block; text-align: left;">

<img src="/static/howitworks.png" alt="How sourcy works" style="display: block; margin-left: auto; margin-right: auto"/>

<div id="random-arts">
<h4>Some articles which need sourcing</h4>
<ul>
{% for art in random_arts %}
<li>{% module art_item(art) %}</li>
{% end %}
</ul>
(<a href="/">show me some others</a>)
</div>

<div id="recent-activity" style="clear:both;">
<h4>What has everyone been up to?</h4>
<ul>
    {% for act in recent_actions %}
    <li>{{ locale.format_date(act.performed, shorter=True) }}: {% module user(act.user) %} {% raw act.describe() %}</li>
    {% end %}
</ul>
</div>

</div>
</div>
{% end %}

