{% import util %}
{% extends "base.html" %}
{% block title %}Sourcy{% end %}

{% block extra_js %}
    $('.tabs').tabify();
{% end %}

{% block main %}
<p style="float:right;"><a class="act" href="/browse">browse articles</a><a class="act" href="/daily">daily breakdown</a></p>

<ul class="tabs">
<li><a href="#recent-arts">Newest</a></li>
<li><a href="#sourced-arts"><img src="/static/tag_small/tick.png"/> Sourced</a></li>
<li><a href="#most-discussed"><img src="/static/comment_icon.png"/> Discussed</a></li>
<li><a href="#help-wanted"><img src="/static/tag_small/help.png"/> Help wanted</a></li>
<li><a href="#toxic-arts">Toxic</a></li>
<li><a href="#recent-activity">Activity</a></li>
</ul>

<div class="tab-content" id="recent-arts">
<p>Recently-added articles:</p>
<ul>
{% for art in recent_arts %}
<li>{% module art_item(art) %}</li>
{% end %}
</ul>
</div>

<div class="tab-content" id="sourced-arts">
<p>Articles which have been sourced:</p>
<ul>
{% for art in sourced_arts %}
<li>{% module art_item(art) %}
    <ul>
    {% for s in art.sources %}
    {% module source(s, element_type="li") %}
    {% end %}
    </ul>
</li>
{% end %}
</ul>
</div>

<div class="tab-content" id="most-discussed">
<p>The articles causing the buzz...</p>
<ul>
{% for art in most_discussed %}
<li>{% module art_item(art) %}
 <ul>
 {% for cmt in art.comments %}
  <li>{{cmt.author.username}}, {{ locale.format_date(cmt.post_time, shorter=True) }}: {{cmt.content}}</li>
 {% end %}
 </ul>
</li>
{% end %}
</ul>
</div>

<div class="tab-content" id="help-wanted">
<p>Can you help out with any of these?</p>
<ul>
{% for art in help_wanted %}
<li>{% module art_item(art) %}</li>
{% end %}
</ul>
</div>

<div class="tab-content" id="toxic-arts">
<p>Articles with warnings...</p>
<ul>
{% for art in toxic %}
<li>{% module art_item(art) %}</li>
{% end %}
</ul>
</div>


<div class="tab-content" id="recent-activity">
<p>What is everyone up to?</p>
<ul>
    {% for act in recent_actions %}
    <li>{{ locale.format_date(act.performed, shorter=True) }}: {% module user(act.user) %} {% raw act.describe() %}</li>
    {% end %}
</ul>
</div>


<div class="act" id="add-article">
  <h4>Add another article that needs sourcing</h4>
  <div>
    <form action="/addarticle" method="post">
      <label style="width:20em;" for="url">Article URL</label> <input type="text" id="url" name="url" style="width:40em;"  />
      <input type="submit" value="add"/>
    </form>
  </div>
</div>




</div>


{% end %}

