{% import util %}
{% extends "base.html" %}
{% block title %}Sourcy{% end %}
{% block main %}
<h2>articles of interest...</h2>
(TODO: this list will be a regular feed from journalisted or somewhere)</p>
<ul>
{% for art in articles %}
<li><a href="/art/{{art.id}}">{{art.headline}}</a> ({% module domain(art.permalink) %})</li>
{% end %}
</ul>

<h2>Recent activity</h2>
<ul>
{% for a in activity %}
<li>
{{ a.created }}
{% if a.user_id is None %}
anonymous
{% else %}
{{ a.user_name }}
{% end %}
added a source to
<a href="/art/{{a.art_id}}">{{a.art_headline}}</a> ({% module domain(art.permalink) %})
</li>
{% end %}
</ul>


<p>or add an article:</p>
<form action="/addarticle" method="post">
    <label style="width:20em;" for="url">URL</label><input type="text" id="url" name="url" />
    <input type="submit" value="add"/>
</form>

<p>helper link: google news results for <a href="https://www.google.com/search?aq=f&hl=en&gl=uk&tbm=nws&btnmeta_news_search=1&q=scientists+say">"scientists say"</a>,
<a href="https://www.google.com/search?aq=f&hl=en&gl=uk&tbm=nws&btnmeta_news_search=1&q=%22a+paper+published+today%22">"a paper published today"</a>
</p>

{% end %}

