{% import util %}
{% extends "base.html" %}
{% block title %}Sourcy{% end %}
{% block main %}


<div id="day-overviews">
<h2>Articles requiring sourcing...</h2>
<p>These all contain phrases like "scientists say" or "a paper published today"
which could indicate they might refer to academic papers.</p>
{% for (date,arts) in days %}
{% module day_overview(date,arts) %}
{% end %}


<a href="/{{ (date-datetime.timedelta(days=1)).strftime('%Y-%m-%d') }}">See Yesterday's articles...</a>

</div>


<div id="recent">
    
    <p>Know some other article you think might need sourcing? Add it here!</p>
<form action="/addarticle" method="post">
    <label style="width:20em;" for="url">Article URL</label> <input type="text" id="url" name="url" /><br/>
    <input type="submit" value="add"/>
</form>

<h2>Recent activity</h2>
{% for day,actions in recent_actions %}
<h3>{{day}}</h3>
<ul>
    {% for act in actions %}
    <li>{% module user(act.user) %} {% raw act.describe() %}</li>
    {% end %}
</ul>
{% end %}
</div>

{% end %}

