{% extends "base.html" %}
{% block title %}Edit your details{% end %}
{% block main %}
<div class="row">
<div class="column grid_2">&nbsp;</div>
<div class="column grid_8">

<h2>Edit your details</h2>

{% if msgs %}
<ul>
{% for msg in msgs %}<li><strong>{{msg}}</strong></li>{% end %}
</ul>
{% end %}

<form method="POST" action="/editprofile" enctype="multipart/form-data">
    {% raw xsrf_form_html() %}
    {% module form(form) %}
    <input type="submit" value="Update details"/>
</form>

</div>
<div class="column grid_2">&nbsp;</div>
</div><!-- end .row -->
{% end %}

