{% extends "base.html" %}
{% block title %}Edit your details{% end %}
{% block extra_js %}
$('input#username').bind("propertychange keyup input paste", function (event) {
    var txt = $(this).val();
    if(!txt.match(/^[a-zA-Z0-9_]+$/)) {
       $(this).val(txt.replace(/[^a-zA-Z0-9_]/,''));
    }
});
{% end %}

{% block main %}
<div class="row">
<div class="column grid_2">&nbsp;</div>
<div class="column grid_8">

<h2>Edit your details</h2>

<form method="POST" action="/editprofile" enctype="multipart/form-data">
    {% raw xsrf_form_html() %}
    {% module form(form) %}
    <input type="submit" value="Update details"/>
    <a href="/user/{{current_user.id}}">cancel</a>
</form>

</div>
<div class="column grid_2">&nbsp;</div>
</div><!-- end .row -->
{% end %}

