{% extends "base.html" %}
{% block title %}Confirmation email sent{% end %}

{% block main %}
<div class="row">
<div class="column grid_2">&nbsp;</div>

<div class="column grid_8">
<div class="notice">
<h2>Now check your email</h2>

<p>We've sent you an email with a confirmation link.</p>
<p>You'll need to click the link to continue.</p>

<h3>If it doesn't arrive?</h3>
<ul>
<li>Be patient - sometimes emails can sometimes take a few minutes to deliver</li>
<li>If you have a junk mail folder, check there</li>
</ul>

{% if bypass_email %}
<div style="border: 2px dashed red; padding: 2em;">
actually, we're in test mode, so that's a complete lie.<br/>
Here's your link: <a href="{{confirmation_url}}">{{confirmation_url}}</a><br/>
<br/>
Here's what _would_ have been in the email:
<code><pre>
{% raw email_subject %}
<hr/>
{% raw email_body %}
</pre></code>
</div>
{% end %}
</div>

</div>
<div class="column grid_2">&nbsp;</div>
</div><!-- end .row -->
{% end %}
