{% extends "base.html" %}
{% block title %}User {{user.username}}{% end %}
{% block main %}

<div class="l-row">

  <div class="l-col66">
    <div class="box">
      <h2 class="username-heading">{{user.username}}</h2>
      <div class="box">

        <h2>Recent activity</h2>

        <ul class="act-list">
        {% for act in actions %}
          <li class="act">{% module action(act, user_display=None) %}</li>
        {% end %}
        </ul>

        <h2>Recent mentions</h2>

        <ul class="act-list">
        {% for act in mentions %}
          <li class="act">{% module action(act, user_display='s') %}</li>
        {% end %}
        </ul>
      </div>
    </div>
  </div>

  <div class="l-col33">
    <div class="sidebar dot-frill">
    <div class="box">
    {% if current_user and current_user.id==user.id %}
    <a class="btn" href="/editprofile">Edit your details</a><br/><br/>
    {% end %}
    {% raw user.photo_img('l') %}
    </div>
    </div>
  </div>

</div>

{% end %}

