{% extends "base.html" %}
{% block title %}User {{user.username}}{% end %}
{% block main %}

<div class="row">

<div class="column grid_8">
<h2>{{user.username}}</h2>
<h3>Recent activity</h3>

<ul class="act-list">
{% for act in actions %}
<li class="act">{% module action(act, user_display=None) %}</li>
{% end %}
</ul>

<h3>Recent mentions</h3>

<ul class="act-list">
{% for act in mentions %}
<li class="act">{% module action(act, user_display='s') %}</li>
{% end %}
</ul>

</div>

<div class="column grid_4">
{% if current_user and current_user.id==user.id %}
<a class="btn" href="/editprofile">Edit your details</a><br/>
{% end %}

{% raw user.photo_img('l') %}
</div>

</div><!-- end .row -->
{% end %}

