{% extends "base.html" %}
{% block title %}User {{user.username}}{% end %}
{% block main %}

<h2>User: {{user.username}}</h2>

{% if user.photo %}
<img src="{{ current_user.photo.thumb_url((128,128)) }}" width="128" height="128"/>
{% end %}


<h2>Recent activity</h2>
{% for art, art_actions in groupby(actions, key = lambda x: x.article) %}
<span>{% module art_item(art, show_icons=False, show_pubdate=True) %}</span>
<ul class="action-list">
    <li class="user-actions">
        <ul>
        {% for act in art_actions %}
        <li class="action"> {% module action(act) %}
        <span class="when">{{ locale.format_date(act.performed, shorter=True) }}</span></li>
        {% end %}
        </ul>
    </li>
</ul>
{% end %}

{% end %}

