body {margin: 0; padding: 0; font-size: 100%; line-height: 1.5;}
article, aside, figcaption, figure, footer, header, hgroup, nav, section {display: block;}
h1, h2, h3, h4 {margin: 1em 0 .5em; line-height: 1.25;}
h1 {font-size: 2em;}
h2 {font-size: 1.5em;}
h3 {font-size: 1.2em;}
ul, ol {margin: 1em 0; padding-left: 40px;}
p, figure {margin: 1em 0;}
a img {border: none;}
sup, sub {line-height: 0;}



body > header {
    border-bottom: 1px solid black;
}

body > footer {
    border-top: 1px solid black;
}


/* menus */
nav ul {
    padding: 0;
    margin: 0;
    list-style:none;
}

nav li {
    padding: 0;
    margin: 0;
    display: inline-block;
}

nav li a, #user-stuff {
  vertical-align: top;
  padding: 0.5em 0.5em;
  display: inline-block;
}

nav li:hover {
  background-color: #eee;
}


/* header */

header { position: relative; height: 4em; background-color: #ccc; }
header h1 {
    position: absolute;
    margin: 0;
    padding: 0.3em;
}
header h1 a { text-decoration:none; }
header h1 a:link { color: #000; }
header h1 a:visited { color: #000; }
header h1 a:hover { color: #fff; }

header nav { position: absolute; bottom: 0; right: 12em; }
header #user-stuff {position: absolute; bottom: 0; right: 0; }

/* footer */

footer { position: relative; height: 3em; background-color: #ccc; }
footer #site-copyright { position: absolute; top: 0; right: 0; padding: 0.5em; }
footer nav { position: absolute; top: 0; left: 0; }

/* content */
#content { padding: 2em 2em; }



/* layout */
#view { float:left; width: 55%; }

#tools { float:left; width: 35%; border: 1px solid black; padding: 0.5em; margin-left: 1em; }

#view #original { }
#view #original iframe { width: 100%; min-height: 30em; }

#view nav a { background-color: #fff; color: #888; text-decoration: none; border: 1px solid #888; }
#view nav a.selected { background-color: #fff; color: #000; border: 1px solid black; }

#original iframe { border: 1px solid black; }
#readable { border: 1px solid black; padding: 0.5em; }

footer { clear: both; }




.hilite.indicative { background-color: yellow; }
.hilite.institution { background-color: #8f8; }
.hilite.journal { background-color: #f88; }
.hilite.researcher { background-color: #88f; }

.hilite.institution .hilite.journal,
.hilite.institution .hilite.journal { background-color: #ff8; }


input[id="url"] { width: 40em; }
