/**********************************************************************
 * BASE STYLES
 */

body {
    font-family: Helvetica, Arial, Sans-Serif;
    background-color: #fff;
    margin: 0;
    padding: 0;
}


a { text-decoration:none; }
a:link { color: #00e; }
a:visited { color: #80e; }
a:hover { color: #00f; text-decoration: underline; }
a:visited:hover { color: #90f; }


/**********************************************************************
 * GENERIC STYLES
 */

.btn {
    border: 1px solid #000;
    display: inline;
}

/**********************************************************************
 * GENERIC LAYOUT
 */
.page-of-text {
    width: 50%;
    margin: 0 auto;
}


.l-3col,
.l-4col {
    padding: 0;
    margin: 0;
}

ul.l-3col,
ul.l-4col {
    list-style: none;
}

.l-3col:after,
.l-4col:after {
    content: "";
    clear: both;
    display: block;
}


.l-3col>*,
.l-4col>* {
    display: block;
    float: left;
    margin: 0;
    padding: 0;
}

.l-3col>* { width: 33.3333%; }
.l-4col>* { width: 25%; }



/**********************************************************************
 * SPECIFICS
 */

/* Main content area */
#main {
    margin: 0 10%;
}


/* the site header */
body>header {
/*    border-bottom: 1px solid #000; */
    margin: 0 0 1em 0;
    padding: 0;
}

body>header .inner {
    position: relative;
    height: 64px;   /* height of logo img */
    padding: 0 0 0 0;
    margin: 0 10%;
    
}


/*****/

#logo {
    position: absolute;
    left: 0;
    top: 0;
}

#logo h1 {
    margin: 0;
    padding: 0;
}
#logo img { display: block; }


/*****/

#topnav {
    position: absolute;
    display: block;
    left: 220px;    /* logo is 200px */
    bottom: 0.2em;
    margin: 0;
    padding: 0;
}

#topnav ul.menu {
    padding: 0;
    margin: 0;
    list-style: none;
}

#topnav ul.menu li {
    display: inline-block;
    margin: 0;
    padding: 0;
}

#topnav ul.menu a {
    border: 1px solid #000;
    padding: 0.2em;
    margin: 0;
    display: block;
}

#topnav ul.menu a:hover {
    background-color: #ccc;
}




/*****/

#login-status {
    position: absolute;
    top: 0;
    right: 0;
}






/*****/

#intro {
    padding: 2em;
}

#intro span {
    display: block;
    font-size: 300%;
    text-align: center;
}

/*****/
#get-started li .art-box {
    margin-right: 1em;
    min-height: 12em;
}

#get-started li:last-child .art-box {
    margin-right: 0;
}



/*****
 *
 */
#view {
    width: 66.6666%;
    float: left;
    margin: 0;
}
#view>* {
    margin-right: 0.5em;
}

#tools {
    width: 33.3333%;
    float: right;
    margin: 0;
    padding: 0;
}




/*****
 * art module for article summaries
 */

.art {
}

/* box version of .art */
.art-box {
    border: 1px solid #000;
    padding: 0.5em;
    position: relative;
}

.art-box .btn {
    position:absolute;
    left:0.2em;
    bottom:0.2em;
}



/*****
 * full article display
 */
.fullart {
    border: 1px solid #000;
    margin: 0;
    padding: 0.5em;
}



/*****/
.tool {
    border: 1px solid #000;
    margin: 0 0 0.5em 0;
    padding: 0.5em;
}

/* Site Footer */
body>footer {
    clear: both;
/*    border-top: 1px solid #000; */
    margin: 1em 0;
}

body>footer .inner {
    width: 80%;
    margin: 0 auto;
}



/************************************************
 * UNSORTED CRAP - REFACTOR RUTHLESSLY!
 */

.infobox {
    border: 1px solid #000;
    margin-right: 1em;
    padding: 0.5em;
    min-height: 12em;
}

.l-3col>div:last-child .infobox {
    margin-right: 0;
}

.infobox h2 {
}





/* STATE */




