import os.path
import ConfigParser

class Settings:
    def __init__(self, **entries):
        self.__dict__.update(entries)

here = os.path.dirname(__file__)

settings = Settings(
    site_name = "unsourced.org",
    root_url="http://localhost:8888",

    # from addr used for any emails the site sends
    site_email = "team@unsourced.org",

    # for testing - show confirmation email instead of sending it
    bypass_email=True,

    mysql_host="127.0.0.1:3306",
    mysql_database="",
    mysql_user="",
    mysql_password="",

    cache_dir="/tmp/sourcy-cache",

    cookie_secret="",
    debug=True,
    twitter_consumer_key="",
    twitter_consumer_secret="",

    uploads_path = os.path.join(here,'uploads'),
    thumb_sizes = {'s':(20,20),'m':(40,40), 'l': (120,120)},
    default_user_photos = {'s':'rupe-s.png', 'm':'rupe-m.png', 'l':'rupe-l.png'},  # images in static dir, one per thumb size
    )


