/**********************************************************************
 * BASE STYLES
 */

@font-face {
  font-family: 'Contrail One';
  font-style: normal;
  font-weight: normal; 
  src: url('/static/ContrailOne-Regular.ttf');
}
@font-face {
  font-family: 'Oleo Script';
  font-style: normal;
  font-weight: 400;
  src: url('/static/OleoScript-Regular.ttf');
}


body {
    font-family: Helvetica, Arial, Sans-Serif;
    background: url(/static/canvas-pattern.png) repeat;
    margin: 0;
    padding: 0;
    font-size: smaller;
    color: #595959;
}


h1, h2, h3, h4,
legend {
    font-family: 'Contrail One';
    font-style: normal;
    font-weight: normal;
    margin: 0.1em 0 0.4em 0;
    color: #000;
}

a { text-decoration:none; }
a:link { color: #262626; }
a:visited { color: #000; }
a:hover { color: #262626; text-decoration: underline; }
a:visited:hover { color: #000; }


img { border-style: none; }

/*
 * BASE FORM STYLE
 */

form ul {
    list-style: none;
    padding: 0;
    margin: 0;
} /* used for groups of radiobuttons */

form ul.errorlist {
    list-style: none;
    padding: 0;
    margin: 0;
    background: #c00;
    color: #fff;
}

/*label { display: block; }*/
input { display: block; }
input[type="checkbox"],
input[type="radio"] {
    display: inline;
}

textarea,
input[type="text"],
input[type="password"] {
    width: 98%;
}

select { display: block; }

.error input {
    border: 1px solid #c00;
}

.help {
    color: #888;
    font-style: italic;
    font-size: smaller;
}

legend {
    font-size: 125%;
    margin: 0;
    padding: 0;
}
fieldset {
    border: none;
    margin: 0 0 1em 0;
    padding: 0;
}

.field {
    margin: 0.5em 0;
}

/**********************************************************************
 * GENERIC LAYOUT
 */


.l-2col,
.l-3col,
.l-4col {
    padding: 0;
    margin: 0;
}

ul.l-2col,
ul.l-3col,
ul.l-4col {
    list-style: none;
}

.l-2col:after,
.l-3col:after,
.l-4col:after {
    content: "";
    clear: both;
    display: block;
}


.l-2col>*,
.l-3col>*,
.l-4col>* {
    display: block;
    float: left;
    margin: 0;
    padding: 0;
/*    overflow: hidden; */
}

.l-2col>* { width: 50%; }
.l-3col>* { width: 33.3333%; }
.l-4col>* { width: 25%; }


/****
 * centering with various widths
 */

.l-mid50, .l-mid66, .l-mid75 {
  margin: auto;
}

.l-mid50 { width: 50%; }
.l-mid66 { width: 66.6666%; }
.l-mid75 { width: 75%; }


/****
 * ultra-noddy nestable grid system
 */
.l-row {
}

.l-row:after {
    content: '';
    clear: both;
    display: block;
}


.l-col25, .l-col33, .l-col50, .l-col66, .l-col75 {
    display: block;
    float:left;
    margin: 0;
    padding: 0 0.3em;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.l-col25:last-child,
.l-col33:last-child,
.l-col50:last-child,
.l-col66:last-child,
.l-col75:last-child {
  padding-right: 0;
}

.l-col25:first-child,
.l-col33:first-child,
.l-col50:first-child,
.l-col66:first-child,
.l-col75:first-child {
  padding-left: 0;
}

.l-col25 { width: 25%; }
.l-col33 { width: 33.3333%; }
.l-col50 { width: 50%; }
.l-col66 { width: 66.6666%; }
.l-col75 { width: 75%; }

/* misc rubbish */

.l-right { float: right; }  /* ugh. */




/****************************************
 * MODULES
 */

/*****
 * the site header
 */
.site-header {
    margin: 0 0 1em 0;
    padding: 0;

}


/****/

.site-logo {
/*    position: absolute;
    left: 0;
    top: 2em;
*/
    display: inline-block;
    margin: 0.5em 0 1em 0;
}

.site-logo h1 {
    margin: 0 0;
    padding: 0;
}

.site-logo img { display: block; }


/****/
.mst-logo {
/*
    position: absolute;
    display: block;
    right: 0;
    top: 2em;
*/
    display: inline-block;
    margin-top: 1em;
    float: right;
}


/****/

.login-status {
    padding: 0.5em 1em 0.5em 0.5em;
    text-align: right;
    margin: 0;
    position: relative;
}

.login-status:after {
    display: block;
    position: absolute;
    content: "";

    background-image: url(/static/dot-pattern-yellow.png);
    top: -2em;
    right: 0;
    bottom: 0.25em;
    left: 0;

    -moz-transform-origin: right;
    -webkit-transform-origin: right;
    -moz-transform: skewy(0.5deg);
    -webkit-transform: skewy(0.5deg);
    z-index: -1;
}

/****/

.site-search {
  color: #fff;
  padding: 0.5em;
  margin: 0 0 0 -1em;
  position: relative;
}

.site-search:after {
    display: block;
    position: absolute;
    content: "";

    background-color: #3e3b35;
    top: -2em;
    right: 0;
    bottom: 0.25em;
    left: 0;
    -moz-transform-origin: left;
    -webkit-transform-origin: left;
    -moz-transform: skewy(0.5deg);
    -webkit-transform: skewy(0.5deg);
    z-index: -1;
}



/*****/
.site-footer {
    margin: 1em 0;
}


/*****/
.topnav {
    display: block;
    margin: 0;
    padding: 0;
}

.topnav ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

.topnav ul li {
    display: inline-block;
    margin: 0;
    padding: 0;
}

.topnav ul a {
    padding: 0.2em 0.5em 0.5em 0.5em;
    margin: 0;
    display: block;
    font-family: 'Contrail One';
    font-size: large;
    color: #fff;
    background-color: #cc2a2d;
    min-width: 7em;
    box-shadow: 0.2em 0.1em rgba(255,255,255,0.75);
}

.topnav ul a:visited {
    color: #fff;
}

.topnav ul a:hover {
    color: #fff;
    -moz-transform: rotate(-1.5deg) scale(1.05);
    -webkit-transform: rotate(-1.5deg) scale(1.05);
    background-color: #ed2024;
    text-decoration: none;
    z-index: 1;
    box-shadow: none;
}





/****
 * main page, including header and footer
 */

.main {
    overflow: visible;
    position: relative;
}

.main:after {
    /* skewy dark patch behind most of page */
    display: block;
    position: absolute;
    content: "";

    top: 2em;       /* start under login-status bar */
    right: -1em;
    bottom: 1.5em;  /* finish above page footer */
    left: -3em;

    -moz-transform: skewy(0.5deg);
    -webkit-transform: skewy(0.5deg);
    background-color: rgba(0,0,0,0.05);
    z-index: -1;
}

/****/
.site-content {
    padding-bottom: 4em;
}

/****/
.site-intro {
    background-color: #fff;
    padding: 1em 1em 3em 1em;
}


.site-intro h2 {
    font-family: "Oleo Script";
    font-size: 275%; 
    margin-left: 1em;
}

/****/
.random-arts {
    padding: 1em 2em 3em 2em;
/*    position:relative;
    z-index: 1;
*/
}


/****
 * annoyingly unsemantic yellow bg frill
 */

.yellow-frill {
    position:relative;
    z-index: 1;
}

.yellow-frill:before {
    /* skewy yellow patch */
    display: block;
    position: absolute;
    content: "";

    top: 0;
    right: 0;
    bottom: 0;
    left: -1em;

    background-color: #fbd415; /* rgb(251,212,21); */
    box-shadow: -1em 0 rgba(225,190,0, 0.95);
    z-index: -1;
}


/****/
.dot-frill {
    position: relative;
}
.dot-frill:after {  
    content: "";  
    display: block;  
    position: absolute;  
    top: -0.5em;  
    bottom: -1.5em;
    left: -0.7em;  
    right: -4em;  
    background-image: url('/static/dot-pattern.png');
    z-index: -1;
}

/****
 * clip favicons to avoid unpleasantness...
 */
.favicon {
    width: 16px;
    height: 16px;
    display: inline-block;
    overflow: hidden;
}

/*****
 * art module for article summaries
 */

.art {
}

.art-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.art {
    display: block;
    margin: 0 0 0.4em 40px;
    position: relative;
}


.art .favicon
{
    position: absolute;
    left: -20px;
}

.art .icon-sourced,
.art .icon-help {
    position: absolute;
    left: -40px;
}


/* box version of .art */

.art-box {
    position: relative;
    background-color: #fff;
    min-height: 12em;
}

.art-box .body {
    padding: 0.5em 0.5em 0.5em 0.5em;
}

/* ugh*/
.art-box .l-center {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}

.art-box .favicon {
    float: left;
}


.art-box .body a,
.art-box .body time
{
    display: block;
    margin-left: 24px;
}

.art-box .body time {
    margin-top: 0.2em;
    font-size: 85%;
}


.l-center {
    margin: auto;
    text-align: center;
    }



.art-box .sourced {
    position: absolute;
    right: 0;
    bottom: -2em;
    background: url(/static/sourced.png) no-repeat top right;
    padding-right: 64px;
    padding-top: 1em;
    min-height: 55px;
    z-index: 1; /* to lift above sourcers list */

    font-family: 'Contrail One';
    font-size: 125%;
}

/* list of sourcers */
.art-box .sourcers {
    position: absolute;
    margin-top: 0.3em;
    padding: 0.5em;
    top: 100%;
    left: 0;
    right: 0;
    background-color: rgba(214,214,255,0.75);
}



.art-box .sourcers div {
   padding: 1em; 
}


/*****/
.act-list {
    list-style: none;
    padding: 0;
}

.morelink {
    float:right;
}


/****/
.user-list {
    list-style: none;
    padding: 0;
    margin: 0;
    column-count: 3;
    -moz-column-count: 3;
    -webkit-column-count: 3;
}



/*****
 * act module for action summaries
 */
.act {
  text-align: top;
  margin: 0.5em 0;
}

.act:after {
    content: '';
    clear: both;
    display: block;
}

.act .timestamp {
    float: right;
    font-size: 80%;
}

.act blockquote {
  display: inline-block;
  margin: 0 0 0 6px;
  padding: 0.2em;
  border: 1px solid #444;
  border-radius: 4px;
  position: relative;
    background-color: #fff;
}

/*
.act blockquote:before {
  content: "";
  display: block;
  position: absolute;
  left: -12px;
  top: 4px;
  width: 0;
  height: 0;
  border: 6px solid;
  border-color: transparent #444 transparent transparent;
}

.act blockquote:after {
  content: "";
  display: block;
  position: absolute;
  left: -11px;
  top: 4px;
  width: 0;
  height: 0;
  border: 6px solid;
  border-color: transparent #fff transparent transparent;
}
*/

.act blockquote:before {
  content: "";
  display: block;
  position: absolute;
  bottom: -12px;
  left: 4px;
  width: 0;
  height: 0;
  border: 6px solid;
  border-color: #444 transparent transparent transparent;
}

.act blockquote:after {
  content: "";
  display: block;
  position: absolute;
  bottom: -11px;
  left: 4px;
  width: 0;
  height: 0;
  border: 6px solid;
  border-color: #fff transparent transparent transparent;
}

/****/
/* TODO: KILL -> too vague */
.attribution {
    float: left;
    display: block;
    margin-right: 0.5em;
}



/*****
 * full article display
 */
.fullart {
  padding: 1em;
  background: #fff;
}

/****/
.fullart-meta {
  border-top: 1px dotted #808080;
  border-bottom: 1px dotted #808080;
  padding: 0.2em 0;
  margin: 0.5em 0;
}

.fullart-meta a{
  float: right;
}


/****/
.art-text {
 padding: 1em;
 color: #a6a6a6;
 background-image: url(/static/article-striped-pattern.png);
}

.art-text h2 {
 color: #fff;
    font-family: 'monospace';
}


/*****/
/*.filters {
    border: 1px solid #000;
    padding: 0.5em;
}
*/


/*****
 * Pagination widget
 */

.pager {
    border-top: 1px dotted  #808080;
    border-bottom: 1px dotted  #808080;
    margin: 1em 0;
    padding: 0.3em 0;
}


.pager li span,
.pager li a {
  padding: 0.2em 0.4em;
}

.pager .cur,
.pager li a:hover {
  font-weight: bold;
  background-color: #37342e;
  color: #ffffff;
  text-decoration: none;
  display: inline-block;
}


.pager li.gap {
}

.pager ul {
  padding: 0;
  margin: 0;
  list-style:none;
  display: inline-block;
}

.pager li {
  margin: 0;
  padding: 0;
  display: inline-block;
}

/*****
 * a user-presented timestamp (eg when an action was performed)
 */
.timestamp {
    font-style: italic;
    color: #808080;
    font-size: small;
}

/*****/
.pubdate {
}

/*****/
.publication {
    font-style: italic;
}

/*****/
.doi {
    font-size: 75%;
    display: block;
}

/*****/
.srclist {
    list-style: none;
    padding: 0;
    border-bottom: 1px dotted #808080;
}





/*****
 * details about a source (paper, pr, other...)
 */
.src {
  border-top: 1px dotted #808080;
  padding: 0.5em 0.5em 0.5em 20px;
}


.src:nth-child(odd) {
  background-color: #f2f2f2;
}

.src-paper { background: url(/static/icon-paper.png) no-repeat 0px 8px; }
.src-pr    { background: url(/static/icon-pr.png) no-repeat 0px 8px; }
.src-other { background: url(/static/icon-other.png) no-repeat 0px 8px; }


/****/
.src-info {
}

.src-info>a {
    display: block;
}


/*****/
.moderation {
    margin-top: 0.5em;
    vertical-align: top;
    display: block;
}

.moderation:after {
    content: "";
    clear: both;
    display: block;
}

/*
.moderation>.vote {
    float: left;
}
*/
.moderation>.creator img {
 float: left;
 margin-right: 0.5em;
}

.moderation>.creator {
    float: right;
/*    float: left; */
/*    vertical-align: top; */
}


/*****/
.btn {
    border: none;
    border-radius: 4px;
    background-color: #24aaf2;
    color: #fff;
    margin: 0.2em 0;
    font-weight: bold;
    padding: 0.15em 1em;
    margin: 0.2em 0; 
    display: inline-block;
}

a.btn,
input.btn
 { color: #fff; }

input.btn {
    font-size: 1em; /* fudge to unify input buttons... */
}


.btn:hover,
.btn.is-active {
    color: #fff;
    background-color: #66ffff;
    text-decoration: none;
}

a.btn:visited {
    color: #fff;
}

.btn-major {
    padding: 0.5em 1em;
    font-size: 125%;
}

/*****
 * a wrapper around a button (eg a form, to allow POSTs)
 */
.btn-wrapper {
  display: inline;
  margin: 0;
  padding: 0;
}

/*****/
.busy-message {
    display: none;
    font-style: italic;
}


/****/
.add-source {
    position: relative;
    background-color: #d6f1ff;
    padding: 0.5em;
}

.add-source-help {
    position: absolute;
    right: 0.5em;
    top: 0.5em;
}

/*****
 * helper - shows info about tracking down sources
 */
.helper {
    margin: 1em 0;
    border-top: 1px dotted #808080;
}


/*****/

.hilite {
    background-color: #fbd415;
    color: #262626;
    padding: 1px;
}
.hilite.journal { }
.hilite.researcher { }
.hilite.institution { }


/****
 * Big print for "check-your-email" and welcome! messages
 */
.notice {
    font-size: large;
    background-color: #fff;
    padding: 2em 2em;
}


/****/

.top-sourcers {
    margin-top: 1em;
}

.top-sourcers>div {
 display: inline-block;
 margin: 0.2em;
}

/****/

.daily-percent>p {
  font-family: "Contrail One";
  color: #000;
  font-size: 125%;
  margin: 0;
  padding: 0;
  margin-bottom: 1em;
}

.daily-percent .perc-outer {
  display: inline-block;
  vertical-align: top;
}

.daily-percent .perc-outer>span {
  display: block;
}

.daily-percent .perc {
  font-size: 400%;
}

.daily-percent .perc+span {
  margin-top: -1em;
  text-align: center;
}

/****/

.gubbins {
    position: relative;
    margin-top: 1em;
}

.gubbins:after {
    display: block;
    position: absolute;
    content: "";

    background-image: url('/static/dot-pattern.png');
    top: -2em;
    right: -4em;
    bottom: -1.5em;
    left: -0.9em;
    z-index: -1;
}


/****
 * base box style. for containing stuff.
 */

.box
{
  background: #fff;
  padding: 1em;
/*  margin: 0.5em 0; */
}


/****/
.sidebar {
    margin-left: 1em;
}


.site-intro h2 {
    font-family: "Oleo Script";
    font-size: 275%; 
    margin-left: 1em;
}

.browse-heading,
.username-heading {
    font-family: "Oleo Script";
    font-size: 275%; 
}


/*****/
.tool header {
    background-color: rgba(31,82,162,0.8);
    color: #fff;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    padding: 0.1em 0.75em;
    position: relative;
}

.tool header h2,
.tool header h3,
.tool header h4 {
    color: #fff;
}


.tool header .sourced {
    position: absolute;
    right: -16px;
    top: -24px;
    padding-right: 68px;    /* w=64 + 4 margin */
    padding-top: 30px;  /* 30+15+10 = img h */
    height: 15px;
    padding-bottom: 10px;

    background: url(/static/sourced.png) no-repeat top right;
    font-weight: bold;
}


.tool .bod {
    margin: 0 0 0.5em 0;
    padding: 0.75em;
    background: #fff;
}

.tool h2,
.tool h3 {
}


/****/
.comment-cnt {
    color: #ffffff;
    background-color: #1F52A2;
    border-radius: 4px;
    padding: 0.1em 0px;
    width: 24px;
    display: inline-block;
    text-align: center;
    font-size: 90%;
    position: relative;
}

.comment-cnt:after {
   content: "";
   display: block;
   position: absolute;
   left: 24px;
   top: 5px;
   width: 0;
   height: 0;
   border: 3px solid;
   border-color: transparent  transparent transparent #1F52A2;
}


/*****/
.user-details {
  border-top: 1px dotted #808080;
  border-bottom: 1px dotted #808080;
  padding: 0.5em;
  background-color: #f2f2f2;
}

.user-details dt {
    float: left;
    width: 6em;
}


/*****/
.screenshot {
    margin: 1em;
    border: 1px solid #ccc;
    box-shadow: 4px 4px 4px rgba(0,0,0,0.5);
}


/************************************************
 * STATES
 */


/****
 * is-busy - show message/icon during ajax requests
 */

.is-busy .busy-message {
    padding-left: 20px;
    background: url(/static/busy-s.gif) left no-repeat;
    display: block;
}

.is-busy input[type="submit"] {
    display: none;
}

.is-busy-large {
    position: relative;
    z-index: 1;
}

.is-busy-large:after {
    display: block;
    position: absolute;
    content: "";

    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    background-image: url("/static/busy-l.gif");
    background-position: center 5em;
    background-repeat: no-repeat;
    background-color: rgba(255,255,255,0.80);
    z-index: 2;
}




/* UNSORTED CRAP THAT NEEDS REFACTORING */

ul.sourcers {
    list-style: none;
    margin: 0;
    padding: 0;
}

ul.sourcers li {
    margin-bottom: 0.5em;
}
ul.sourcers li:last-child {
    margin-bottom: 0;
}

ul.sourcers img {
    vertical-align:top;
}


.art-group {
    display: block;
    margin: 1em 0 0.5em 0;
}

.daterange {
    padding-left: 2em;
}

.graph {
    border: 1px solid black;
}

.graph>div {
    background-color: green;
}


