{% extends "base.html" %}
{% block title %}{{art.headline}}{% end %}


{% block extra_js %}


$('.add-source').hide();

$('.vis-toggler').each(function() {
  var button = $(this);
  var targ = $(button.attr('href'));
  $targs = $('.add-source');

  button.click(function() {
    $targs.slideUp(50);
    console.log($targs);

    if(button.hasClass('is-active')) {
      $('.vis-toggler').removeClass('is-active');
    } else {
      $('.vis-toggler').removeClass('is-active');
      button.addClass('is-active');
      $targs.promise().done( function() {
        targ.slideDown(200);
      });
   }
   return false;
 });

});

$('.add-source .cancel').click(function() {
    $(this).closest('.add-source').slideUp(50);
    $('.vis-toggler').removeClass('is-active');
    return false;
});



// when a source is added, insert it into list of sources
pubsub.source_added.add(function(new_src) {

  $(new_src.html)
    .hide()
    .css('opacity',0.0)
    .appendTo($('.srclist'))
    .slideDown('fast')
    .animate({opacity: 1.0});

    // reset the add-source boxes and buttons
    $('.add-source').hide();
});

{% end %}

{% block main %}

<div class="l-row">

<div class="l-col66">
<div class="fullart">

  <div class="fullart-meta">
    <span class="publication"><img class="favicon" src="{{art.publisher_favicon_url()}}" alt="{%module domain(art.permalink)%}"  title="{%module domain(art.permalink)%}" />{% module domain(art.permalink) %}</span> - 
    <span class="pubdate">{{locale.format_date(art.pubdate, shorter=True)}}</span>
    <a href="{{art.permalink}}">view article</a>
  </div>

  <div class="art-text">
    <h2>{{art.headline}}</h2>
{% if scrape_err %}
    <p>Sorry, but there was a problem fetching the article text: {{scrape_err}}</p>
    <p>if you'd like, you can paste the text in here manually:</p>
    <form action="/art/{{art.id}}" method="post">
      {% raw xsrf_form_html() %}
      <textarea name="text">
      </textarea>
      <input class="btn" type="submit" />
    </form>
{% else %}
{% raw article_content %}
{% end %}
  </div> <!-- end .art-display -->

  <div class="fullart-meta">
    <span class="publication"><img src="{{art.publisher_favicon_url()}}" alt="{%module domain(art.permalink)%}"  title="{%module domain(art.permalink)%}" />{% module domain(art.permalink) %}</span> - 
    <span class="pubdate">{{locale.format_date(art.pubdate, shorter=True)}}</span>
    <a href="{{art.permalink}}">view article</a>
  </div>

</div> <!-- end .fullart -->
</div>

<div class="l-col33">
<div class="sidebar dot-frill">
  <div class="tool sources">
    <header>
    <h2>Sources</h2>
{% if not art.needs_sourcing %}
    <span class="sourced">Sourced</span>
{% end %}
    </header>

    <div class="bod">


{% if not art.sources %}
    <div>No sources</div>
{% end %}
    <ul class="srclist">
    {% for src in art.sources %}{% module source(src, container='li') %}{% end %}
    </ul>



    <p>
    Add a source...<br/>
{% if current_user %}
    <a class="btn vis-toggler" href="#add-paper-pane">Paper</a>
    <a class="btn vis-toggler" href="#add-pr-pane">Press release</a>
    <a class="btn vis-toggler" href="#add-other-pane">Other</a>
    </p>

    <div class="add-source" id="add-paper-pane">
    <h3>Add paper</h3>
    <a class="add-source-help" href="/help#papers">help</a>
    {% module add_paper(art, add_paper_form) %}
    {% module helper_paper(art,journals,institutions,researchers) %}
    </div>

    <div class="add-source" id="add-pr-pane">
    <h3>Add press release</h3>
    <a class="add-source-help" href="/help#pr">help</a>
    {% module add_pr(art, add_pr_form) %}
    {% module helper_pr(art,journals,institutions,researchers) %}
    </div>

    <div class="add-source" id="add-other-pane">
    <h3>Add other link</h3>
    {% module add_other(art, add_other_form) %}
    {% module helper_other(art,journals,institutions,researchers) %}
    </div>
{% else %}
    <a class="btn" href="{{ handler.get_login_url() }}">Paper</a>
    <a class="btn" href="{{ handler.get_login_url() }}">Press release</a>
    <a class="btn" href="{{ handler.get_login_url() }}">Other</a>
    </p>
{% end %}

  {% if len(art.help_reqs)>0 %}
  <div class=""><img src="/static/tag_med/help.png" />{% module user(art.help_reqs[0].user, True) %} asked for help on this article<br/>
    {% module postbutton("/art/%d/close-helpreq"%(art.id,), "Close help request") %}
  </div>
  {% end %}

  {% if art.needs_sourcing and len(art.help_reqs)==0 %}
  <div class="">
    Having trouble tracking down sources for this article?<br/>
    {% module postbutton("/art/%d/open-helpreq"%(art.id,), "Ask for help") %}
  </div>
  {% end %}


  {% if art.needs_sourcing and len(art.sources)==0 %}
  <div>
    Think this article doesn't need any sources?<br/>
    {% module postbutton("/art/%d/mark-sourced"%(art.id,), "Mark it sourced") %}
  </div>
  {% end %}

    </div>  <!-- end .bod -->
  </div>



<div class="tool">
<header><h2>Warning Labels</h2></header>
<div class="bod">
{% for l in art.labels %}{% module label(l) %}{% end %}

{% module label_widget(art) %}
</div>
</div>





<div class="tool">
<header>
  <h2>Recent activity</h2>
</header>
  <div class="bod">
    <ul class="act-list">
{% for act in recent_actions %}
      <li class="act">{% module action(act, show_article=False, user_display='s') %}</li>
{% end %}
    </ul>
{% if more_actions %}
  <a class="morelink" href="{{art.art_url()+"/history"}}">more...</a>
{% end %}

    {% if current_user %}
    <form action="/art/{{art.id}}/postcomment" method="POST">
    {% raw xsrf_form_html() %}
    <textarea name="msg" />
    </textarea>
    <input class="btn" type="submit" value="Leave a comment"/>
    </form>
    {% else %}
    <a href="/login?next=/art/{{art.id}}">Log in</a> to add a comment
    {% end %}

  </div>
</div> <!-- /.tool -->



</div> <!-- .sidebar -->

</div>
</div> <!-- end .l-row -->
{% end %}

