<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}{% end %} - unsourced.org</title>
    <link rel="stylesheet" href="/static/style.css" />
<!--[if lt IE 9]>
<script src="http://ie7-js.googlecode.com/svn/version/2.1(beta4)/IE9.js"></script>
<![endif]-->
    <link rel="shortcut icon" href="/static/icon-sourced.png" type='image/png' />
    <meta name="google-site-verification" content="mF3P_O-tgbjmCJ6Ux5y8vpi-qDV9S1J9R4LUCX0CwLQ" />
    <script src="/static/jquery-1.7.2.min.js"></script>
    <script src="/static/site.js"></script>
    <script>
        $(document).ready( function() {
{%block extra_js %}
{% end %}
});
    </script>
</head>
<body>

<div class="l-mid75 main">


<header class="site-header">
 <div class="l-row">
  <div class="l-col75">
  <div class="login-status">
{% if current_user is None %}
    <a href="/register">join</a> | <a href="{{ handler.get_login_url() }}">log in</a>
{% else %}
Hello <a href="/user/{{current_user.id}}">{{current_user.username}}</a> |
<a href="/logout">log out</a>
{% end %}
  </div>
  </div>
  <div class="l-col25">
  <div class="site-search">
  &nbsp;
  </div>
  </div>
 </div> <!-- end .l-row -->

  <div class="site-logo">
    <h1><a href="/"><img src="/static/logo.png" width="208" height="59" alt="Unsourced" /></a> </h1>
  </div>
  <div class="site-tagline">See the missing sources for news articles <a href="/about#why">Why?</a>
    <div class="site-tagline-popup">
By reading the source material you can decide if the journalist has come to the right conclusion.
    </div>
  </div>

  <a class="mst-logo" href="/"><img src="/static/mst_logo.png" width="70" height="50" alt="Media Standards Trust" /></a>

  <nav class="site-nav">
    {% block topnav %}
    <ul class="topnav">
        <li><a href="/">Home</a></li>
        <li><a href="/browse">Explore</a></li>
        <li><a href="/daily">View by day</a></li>
{% if current_user is not None %}
        <li><a href="/extension">Browser extension</a></li>
{% end %}
    </ul>
    {% end %}
    {% block secnav %}{% end %}
    <div class="site-links">
      <div>Follow us on Twitter: <a href="https://twitter.com/UnsourcedOrg">@UnsourcedOrg</a></div>
      <div>Read our <a href="http://unsourced.posterous.com">Blog</a></div>
    </div>
  </nav>
</header>

<div class="site-content">
{% block main %}
{% end %}
</div>

<footer class="site-footer">
  <div class="inner">
    <a href="/about">about</a>&nbsp;|&nbsp;
    <a href="http://unsourced.posterous.com">blog</a>&nbsp;|&nbsp;
    <a href="/extension">browser extension</a>&nbsp;|&nbsp;
    Twitter: <a href="https://twitter.com/UnsourcedOrg">@UnsourcedOrg</a>&nbsp;|&nbsp;
    <a href="https://github.com/bcampbell/unsourced/">source code</a> (github.com)&nbsp;&nbsp;
    <span class="site-copyright">

        &copy; <a href="http://mediastandardstrust.org">Media Standards Trust</a> 2012
    </span>

    <a class="site-licence" href="http://creativecommons.org/licenses/by-sa/3.0/" title="Creative Commons Attribution-ShareAlike 3.0 Unported License">
      <img src="http://i.creativecommons.org/l/by-sa/3.0/88x31.png" />
</a>
  </div>
</footer>

</div> <!-- end .main -->

</body>
</html>

