{% import util %}
{% extends "base.html" %}
{% block title %}Dashboard{% end %}


{% block main %}

<div class="l-row">
  <div class="l-col66">
    <div class="box">
    <h2 class="browse-heading">Your dashboard</h2>

    <div class="box yellow-frill">
      <h2>Help requests</h2>
      <p>Articles which people have asked for help with:</p>
      {% module art_list(helpreq_arts) %}
    </div>

    <div class="box">
      <h2>{{len(unsourced_arts)}} unsourced articles today</h2>
      {% module art_list(unsourced_arts) %}
    </div>
    </div>
    
  </div>


  <div class="l-col33">
  <div class="sidebar dot-frill">
    <div class="box">
      <h2>Mentions</h2>
      <p>Any comments directed at you:</p>
      {% if recent_mentions %}
      <ul class="act-list">
        {% for act in recent_mentions %}
        <li class="act act-full">{% module action(act,user_display='m') %}</li>
        {% end %}
      </ul>
      {% else %}
      <p>none</p>
      {% end %}
    </div>

    <div class="box">
      <h2>Recent interesting activity</h2>
      <p>Activity by others upon articles you've worked on:</p>
      {% if actions_of_interest %}
      <ul class="act-list">
        {% for act in actions_of_interest %}
        <li class="act act-full">{% module action(act,user_display='m') %}</li>
        {% end %}
      </ul>
      {% else %}
      <p>none</p>
      {% end %}
    </div>
  </div>
  </div>


</div> <!-- end .l-row -->

{% end %}

