{% import util %}
{% extends "base.html" %}
{% block title %}Unsourced{% end %}


{% block main %}

<div class="site-intro">
  <h2>Add missing sources to news articles</h2>

  <div class="random-arts yellow-frill">
    <div class="l-row">
{% for art in random_arts %}
      <div class="l-col25">
        <div class="art-box">
          <div class="body">
            <img class="favicon" src="{{art.publisher_favicon_url()}}" alt="{%module domain(art.permalink)%}"  title="{%module domain(art.permalink)%}" />
            <a href="/art/{{art.id}}">{{art.headline}}</a>
            <time class="timestamp" datetime="{{art.pubdate.isoformat()}}">{{locale.format_date(art.pubdate, shorter=True)}}</time>
          </div>
          {% if art.needs_sourcing %}
          <div class="l-center">
          <a class="btn findsrc" href="/art/{{art.id}}">Find source</a>
          </div>
          {% else %}
          <div class="sourced">Sourced</div>
          {% end %}

          {% if len(art.sources)>0 and not art.needs_sourcing %}
          <ul class="sourcers">
            {% for user in set([s.creator for s in art.sources]) %}
            <li>
                <a class="user" href="{{user.profile_url()}}">{% raw user.photo_img('m') %}</a>
            By <a class="user" href="{{user.profile_url()}}">{{user.username}}</a>
            </li>
            {% end %}
          </ul>
          {% end %}
        </div>
      </div>
{% end %}
    </div>
  </div> <!-- end .random-arts -->
</div> <!-- end .site-intro -->

<div class="gubbins">
<div class="l-row">

  <div class="l-col66">
    <div class="right-now box">
      <h2>Right now</h2>

      <ul class="act-list">
{% for act in recent_actions %}
        <li class="act act-full">{% module action(act,user_display='m',show_timestamp=False) %}</li>
{% end %}
      </ul>

      <a class="btn btn-major" href="/register">Sign up and start finding sources</a>
    </div>
  </div>


  <div class="l-col33">
    <div class="box">
      <h2>Progress this week...</h2>
      {% module daily_chart(week_stats, week_stats_max_arts) %}
    </div>

    <div class="top-sourcers box">

      <h2>Top Sourcers</h2>
      From the last 30 days<br/><br/>
      {% for u,cnt in top_sourcers %}
        <div><a href="{{u.profile_url()}}" title="{{u.username}}">{% raw u.photo_img('m') %}</a></div>
      {% end %}
    </div>
  </div>

</div> <!-- end .l-row -->
</div>
{% end %}

