{% import util %}
{% extends "base.html" %}
{% block title %}Unsourced{% end %}


{% block extra_js %}
$('.top-sourcers nav a').tabify();
{% end %}

{% comment KLUDGE! need a better way to add classes to selected nav item %}
{% block topnav %}
    <ul class="topnav">
        <li class="sel"><a href="/">Home</a></li>
        <li><a href="/browse">Explore</a></li>
{% if current_user is not None %}
        <li><a href="/extension">Browser extension</a></li>
{% end %}
        <li><a href="/blog">Blog</a></li>
    </ul>
{% end %}
{% block secnav %}
      <ul class="secnav">
        <li {% if view=='recent' %}class="sel"{% end %}><a href="/?view=recent">Recent activity</a></li>
        <li {% if view=='comments' %}class="sel"{% end %}><a href="/?view=comments">Talk</a></li>
        <li {% if view=='interesting' %}class="sel"{% end %}><a href="/?view=interesting">Activity on articles you've worked on</a></li>
      </ul>
{% end %}

{% block main %}

<div class="l-row">

  <div class="l-col66">

    <div id="results" class="box">
    <h2 class="fancy-heading">
    {% if view=='recent' %}Recent activity
    {% elif view=='comments' %}Talk
    {% elif view=='interesting' %}Activity on articles you've worked on
    {%end%}
    </h2>
      {% module actionbrowser(filters, paged_actions) %}
    </div>
  </div>


  <div class="l-col33">
    <div class="box">
      <ul class="stat-list">
        <li><a href="/browse?date=all&sourced=all&help=y"><span class="stat-item">{{helpreq_cnt}}</span> help requests open</a></li>
        <li><a href="/?view=mentions"><span class="stat-item">{{mentions_cnt}}</span> comments addressed to you</a></li>
      </ul>
    </div>

    <div class="box">
      <h2>Progress this week...</h2>
      {% module daily_chart(week_stats, week_stats_max_arts) %}
    </div>

    <div class="top-sourcers box">

      <h2>Top Sourcers</h2>
      <nav>
      <a href="#top-sourcers-7days">Week</a> |
      <a href="#top-sourcers-alltime">All time</a>
      </nav>
      <br/>
      <div id="top-sourcers-7days">
      {% for u,cnt in top_sourcers_7days %}
        <div class="top-sourcer"><a href="{{u.profile_url()}}" title="{{u.username}}">{% raw u.photo_img('m') %}{{u.username}}</a><span class="top-sourcer-cnt">{{cnt}}</span></div>
      {% end %}
      </div>
      <div id="top-sourcers-alltime">
      {% for u,cnt in top_sourcers_alltime %}
        <div class="top-sourcer"><a href="{{u.profile_url()}}" title="{{u.username}}">{% raw u.photo_img('m') %}{{u.username}}</a><span class="top-sourcer-cnt">{{cnt}}</span></div>
      {% end %}
      </div>
    </div>

  </div>





</div> <!-- end .l-row -->
{% end %}

