{% extends "base.html" %}
{% block title %}User {{user.username}}{% end %}
{% block main %}

<div class="l-row">

  <div class="l-col66">
    <div class="box">
      {% if current_user and current_user.id==user.id %}
      <a class="btn btn-major l-right" href="/editprofile">Edit your details</a>
      {% end %}
      <h2 class="username-heading">{{user.username}}</h2>
      <div class="box"> 


        <h2 class="">Recent activity</h2>

        <ul class="act-list">
        {% for act in actions %}
          {% module action(act, user_display=None) %}
        {% end %}
        </ul>

        <h2 class="">Recent mentions</h2>

        <ul class="act-list">
        {% for act in mentions %}
          {% module action(act, user_display='s') %}
        {% end %}
        </ul>
      </div>
    </div>
  </div>

  <div class="l-col33">
    <div class="sidebar dot-frill">
    <div class="box">
      {% raw user.photo_img('l') %}
      <div class="user-details">
        <h2>{{user.username}}</h2>
        <dl>
          <dt>Joined:</dt><dd>{{locale.format_date(user.created, shorter=True)}}</dd>
          <dt>Sourced:</dt><dd>{{source_cnt}}</dd>
          <dt>Comments:</dt><dd>{{comment_cnt}}</dd>
        </dl>
      </div>
    </div>
    </div>
  </div>

</div>

{% end %}

