{% extends "base.html" %}
{% block title %}Article {{art.id}}{% end %}

{% block extra_js %}

function switch_tabs(obj)
{
	var id = obj.attr("href");

	$('#readable, #original').hide();
	$(id).show();

	$('#view nav a').removeClass("selected");
	obj.addClass("selected");
}

$('#view nav a').click(function(){
		switch_tabs($(this));
});
 
switch_tabs($('#view nav a[href="#readable"]'));

$('#original iframe').css({'min-height': $('#readable').height()-10});



{% end %}

{% block main %}
<h2>{{art.id}}: {{art.headline}}</h2>
<a href="{{art.permalink}}"><code>{{art.permalink}}</code></a>
<div>
<div id="view">
    <nav>
    <ul>
		<li><a href="#readable">Readable</a></li>
		<li><a href="#original">Original ({% module domain(art.permalink) %})</a></li>
	</ul>
    </nav>

    <div id="readable">
    {% raw article_content %}
    </div>
    <div id="original">
      <iframe src="{{art.permalink}}"></iframe>
    </div>
</div>
<div id="tools">


  {% if sources %}
  <div>
  <h3>known sources</h3>
  <ul>
  {% for s in sources %}
  <li><a href="{{s.url}}">{{s.url}}</a></li>
  {% end %}
  </ul>
  </div>
  {% end %}

  <div>
    <p class="indicative">There appears to be a primary source missing...</p>

    <p>This article appears to be referring to an academic paper. Can you track it down?</p>
    <form action="/edit" method="post">
        <label for="url">URL or DOI of paper:</label><br/>
        <input type="hidden" name="art_id" value="{{art.id}}"/>
        <input type="text" name="url" id="url" columns="80"/>
        <input type="submit" value="submit"/><br/>
        <span class="helptext"><a href="#">what's a DOI?</a> <a href="#">guidelines on linking to academic papers</a></span><br/>
    </form>
  </div>

  <p>some links which might help...</p>
  {% if researchers %}
  <span class="hilite researcher">researchers:</span>
  <ul>
  {% for r in researchers %}
  <li>{{r[0]}}</li>
  {% end %}
  </ul>
  {% end %}

  {% if institutions %}
  <span class="hilite institution">Institutions:</span>
  <ul>
  {% for r in institutions %}
  <li><a href="{{r[1]}}">{{r[0]}}</a></li>
  {% end %}
  </ul>
  {% end %}

  {% if journals %}
  <span class="hilite journal">Journals:</span>
  <ul>
  {% for r in journals %}
  <li><a href="{{r[1]}}">{{r[0]}}</a></li>
  {% end %}
  </ul>
  {% end %}

</div>
</div>
{% end %}

