{% from itertools import groupby %}
{% from datetime import datetime %}

{% if paged_results.total_items == 0 %}
<p>None matching</p>
{% else %}

{% for day, daysworth in groupby(paged_results.items, lambda x: x.performed.date()) %}
<time class="act-group" datetime="{{day.isoformat()}}">{{day.strftime("%A, %d %B %Y")}}</time>
<ul class="act-list">
{% for act in daysworth %}
  {% module action(act,user_display='s',show_timestamp=False) %}
{% end%}
</ul>
{%end%}

{% if paged_results.total_pages > 1 %}
{% module paginator(paged_results) %}
{% end %}

{% end %}

