<div class="label">
<img class="label-icon" src="{{label.icon_url(size)}}"/><div class="label-bod"><div class="label-head">WARNING</div>{{label.description}}</div>

{% if usage is not None %}
  <div class="moderation">
  {% if current_user %}
    {% module postbutton("/art/%d/removelabel/%s" %(usage.article.id,usage.label.id), "remove") %}
  {% end %}
  {% if usage.creator %}
    <span class="creator"><a href="/user/{{usage.creator.id}}">{% raw usage.creator.photo_img('s') %}</a> Added by <a href="/user/{{usage.creator.id}}">{{usage.creator.username}}</a></span>
  {% end %}
  </div>
{% end %}
</div>
