<div id="register">
  <div class="box">
    <h2>Create Account</h2>
    <div class="l-row">
      <div class="l-col50">
        <form action="/register" method="post">
          {% raw xsrf_form_html() %}
          {% module form(form) %}
          <input class="btn" type="submit" value="Create Account" />
        </form>
      </div>

      <div class="l-col50">
        <div class="login-options">
          Already got an account?<br/><a class="btn" href="{{login_url}}">log in</a>
          <br/>
          <br/>
          Or log in with:<br/>
          <span class="twitter-login"><a class="btn" href="{{twitter_login_url}}">Twitter</a></span><br/>
          <span class="google-login"><a class="btn" href="{{google_login_url}}">Google</a></span>
        </div>
      </div>
    </div> <!-- end .l-row -->
  </div>
</div> <!-- end #register -->


