{% comment output a source link %}

<{{container}} id="src-{{id}}" class="src src-{{kind}}">
<div class="src-info">
{% if title %}
<a href="{{url}}">{{title}}</a>
{% else %}
<a href="{{url}}">{{url}}</a>
{% end %}

{% if publication %}
{% if pubdate %}
<span class="publication">{{publication}}</span>, {%module fmt_date(pubdate,'pubdate')%}
{% else %}
<span class="publication">{{publication}}</span>
{% end %}
{% end %}
{% if doi %}
<span class="doi">doi:<a href="http://dx.doi.org/{{doi}}">{{doi}}</a></span>
{% end %}
</div>

<div class="moderation">
{% if current_user and creator==current_user %}
{% module postbutton("/source/%d/delete" %(id,), "remove") %}
{% end %}
<!--
{{score}} points
{% if current_user %}
  <span class="vote">
    <form action="/source/{{id}}/upvote" method="POST">{% raw xsrf_form_html() %}<input class="upvote btn" type="submit" value="&#9650;" {% if not can_upvote %}disabled{% end %}/></form>
    <form action="/source/{{id}}/downvote" method="POST">{% raw xsrf_form_html() %}<input class="downvote btn" type="submit" value="&#9660;" {% if not can_downvote %}disabled{% end %}/></form>
  </span>
{% end %}
-->

{% if creator %}
  <span class="creator"><a href="/user/{{creator.id}}">{% raw creator.photo_img('s') %}</a> Added by <a href="/user/{{creator.id}}">{{creator.username}}</a></span>

{% end %}

</div>

</{{container}}>
